<div class="px-[20px] laptop:px-[110px] desktop:px-[150px] desktop4K:[180px]">
    <div class="flex flex-col laptop:flex-row-reverse w-full h-auto laptop:items-center space-y-6 laptop:space-y-0">
        <div class="w-full h-auto">
            <div class="row" style=""></div>Hein THant Toe Hein Thant Toe
            <img alt="Girl" src="~/novalink/static/media/Girl.77754a8ef15cbf74965d.png" class="w-full h-auto">
        </div>
        <div class="w-full h-auto space-y-8 laptop:space-y-12">
            <div class="laptop:space-y-4">
                <p class="heading-font font-color-theme font-semibold laptop:font-bold">About Hein Thant Toe</p>
                <p class="sub-heading-font font-color-base-white font-bold">Uplifting your journey</p>
            </div>
            <p class="body-font font-color-dark-muted font-normal">As connectivity has become main core to how we uplift our daily lives, we are constantly reimagining what it means to have a great internet experience giving our customers the fastest speeds, Wifi coverage throughout the home, control features to manage in home wifi experience and the tools they need to keep their network connected to it safe and secure.</p>
            <div class="space-y-2">
                <div class="flex items-center space-x-4">
                    <div><img alt="Check Icons" src="~/novalink/static/media/circle_check_sign.286ad9786a6b551e4b80427b36bc5ac6.svg" class="w-5 h-auto"></div>
                    <p class="caption-font font-color-theme font-bold">Powerful Online Protection</p>
                </div>
                <div class="flex items-center space-x-4">
                    <div><img alt="Check Icons" src="/novalink/static/media/circle_check_sign.286ad9786a6b551e4b80427b36bc5ac6.svg" class="w-5 h-auto"></div>
                    <p class="caption-font font-color-theme font-bold">Internet Without Borders</p>
                </div>
                <div class="flex items-center space-x-4">
                    <div><img alt="Check Icons" src="/novalink/static/media/circle_check_sign.286ad9786a6b551e4b80427b36bc5ac6.svg" class="w-5 h-auto"></div>
                    <p class="caption-font font-color-theme font-bold">No Specific Time Limits</p>
                </div>
            </div>
        </div>
    </div>
</div>