<div class="absolute -top-6 right-0"><img alt="Stack" src="~/novalink/static/media/Vertical_Up.4f252cdddc37947e72de7c256b1876af.svg" class="hidden laptop:block laptop:w-36 desktop:w-40 h-auto float-right"></div>
<div class="absolute -bottom-6 left-0"><img alt="Stack" src="~/novalink/static/media/Vertical_Down.51202d8e04e69f6fae365e88c9478037.svg" class="hidden laptop:block laptop:w-36 desktop:w-40 h-auto float-right"></div>
<div class="space-y-4 laptop:space-y-10 bg-muted py-[60px] laptop:py-[85px] px-[20px] laptop:px-[110px] desktop:px-[150px] desktop4K:[180px]">
    <div>
        <p class="heading-font font-semibold text-center">Frequently Asked Questions</p>
    </div>
    <div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:r0:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">Where can NOVALINK internet service be installed?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:r2:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">What information is required to apply for installation?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:r4:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">How to buy NOVALINK internet service?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:r6:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">How long does it take for installation?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:r8:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">How to pay the Internet bill?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:ra:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">How can complaints about Internet service?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:rc:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">How many days does it take to repair a service failure?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
        <div class="w-full h-auto px-4 py-5 laptop:py-10 border-t border-b">
            <button class="flex justify-between items-center w-full h-auto" type="button" aria-expanded="false" id="headlessui-disclosure-button-:re:">
                <span class="body-font font-semibold font-color-base-black">
                    <p class="text-left">Do customers need to pay service charges for the on-site service support?</p>
                </span>
                <div class="cursor-pointer"><img alt="Arrow Icons" src="~/novalink/static/media/Down_Arrow.56b89f7d81546d1d2d6d14b0b90fdfd4.svg" class="w-4 h-auto"></div>
            </button>
        </div>
    </div>
</div>