<div class="space-y-1">
    <p class="heading-font font-semibold font-color-base-black text-center">NEWS & EVENTS</p>
    <p class="body-font font-color-light-muted font-medium text-center">We’re ready to share updated news with our customers</p>
</div>
<div class="grid grid-cols-3 gap-y-8 laptop:gap-y-0 laptop:gap-x-5">
    <div class="col-span-3 laptop:col-span-1">
        <div class="shadow-lg">
            <div class="carousel-root">
                <div class="carousel carousel-slider" style="width:100%">
                    <button class="control-arrow control-prev control-disabled" type="button" aria-label="previous slide / item"></button>
                    <div class="slider-wrapper axis-vertical" style="height:333px">
                        <ul class="slider animated" style="transform:translate3d(0,-100%,0);transition-duration:350ms;height:333px">
                            <li class="slide previous">
                                <div><img alt="Sale2" src="~/novalink/static/media/Sale-Point-2.f7bfb5c89c537c4e57bc.png" class="scale-105"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="Sale1" src="~/novalink/static/media/Sale-Point-1.735d5c2e11d94971e909.png" class="scale-105"></div>
                            </li>
                            <li class="slide previous">
                                <div><img alt="Sale2" src="~/novalink/static/media/Sale-Point-2.f7bfb5c89c537c4e57bc.png" class="scale-105"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="Sale1" src="~/novalink/static/media/Sale-Point-1.735d5c2e11d94971e909.png" class="scale-105"></div>
                            </li>
                        </ul>
                    </div>
                    <button class="control-arrow control-next control-disabled" type="button" aria-label="next slide / item"></button>
                </div>
            </div>
            <div class="px-5 py-4 space-y-1">
                <p class="sub-heading-font font-color-base-black font-semibold">Sale Points</p>
                <p class="caption-font font-color-base-black font-medium">Everyone in your family may confidently connect to the things they like the most.</p>
            </div>
        </div>
    </div>
    <div class="col-span-3 laptop:col-span-1">
        <div class="shadow-lg">
            <div class="carousel-root">
                <div class="carousel carousel-slider" style="width:100%">
                    <button class="control-arrow control-prev control-disabled" type="button" aria-label="previous slide / item"></button>
                    <div class="slider-wrapper axis-vertical" style="height:352px">
                        <ul class="slider animated" style="transform:translate3d(0,-100%,0);transition-duration:350ms;height:352px">
                            <li class="slide previous">
                                <div><img alt="Promo3" src="~/novalink/static/media/Promo3.e163298762eb63063c4f.png"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="Promo1" src="~/novalink/static/media/Promo1.e3e2a8600dc04577693d.png"></div>
                            </li>
                            <li class="slide">
                                <div><img alt="Promo2" src="~/novalink/static/media/Promo2.799b332b2d94feae9c6e.png"></div>
                            </li>
                            <li class="slide previous">
                                <div><img alt="Promo3" src="~/novalink/static/media/Promo3.e163298762eb63063c4f.png"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="Promo1" src="~/novalink/static/media/Promo1.e3e2a8600dc04577693d.png"></div>
                            </li>
                        </ul>
                    </div>
                    <button class="control-arrow control-next control-disabled" type="button" aria-label="next slide / item"></button>
                </div>
            </div>
            <div class="px-5 py-4 space-y-1">
                <p class="sub-heading-font font-color-base-black font-semibold">Buy More, Save More</p>
                <p class="caption-font font-color-base-black font-medium">Everyone in your family may confidently connect to the things they like the most.</p>
            </div>
        </div>
    </div>
    <div class="col-span-3 laptop:col-span-1">
        <div class="shadow-lg">
            <div class="carousel-root">
                <div class="carousel carousel-slider" style="width:100%">
                    <button class="control-arrow control-prev control-disabled" type="button" aria-label="previous slide / item"></button>
                    <div class="slider-wrapper axis-vertical" style="height:330px">
                        <ul class="slider animated" style="transform:translate3d(0,-100%,0);transition-duration:350ms;height:330px">
                            <li class="slide previous">
                                <div><img alt="hight-speed-2" src="~/novalink/static/media/high-speed-2.eb361a3697ba0e04e20f.png"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="hight-speed-1" src="~/novalink/static/media/high-speed-1.0f51f7005f31140a3b3d.png"></div>
                            </li>
                            <li class="slide previous">
                                <div><img alt="hight-speed-2" src="~/novalink/static/media/high-speed-2.eb361a3697ba0e04e20f.png"></div>
                            </li>
                            <li class="slide selected">
                                <div><img alt="hight-speed-1" src="~/novalink/static/media/high-speed-1.0f51f7005f31140a3b3d.png"></div>
                            </li>
                        </ul>
                    </div>
                    <button class="control-arrow control-next control-disabled" type="button" aria-label="next slide / item"></button>
                </div>
            </div>
            <div class="px-5 py-4 space-y-1">
                <p class="sub-heading-font font-color-base-black font-semibold">High Speed Internet</p>
                <p class="caption-font font-color-base-black font-medium">Everyone in your family may confidently connect to the things they like the most.</p>
            </div>
        </div>
    </div>
</div>