<p class="text-center heading-font font-bold">How To Pay</p>
<div class="grid grid-cols-2 gap-y-5 laptop:gap-y-0 laptop:gap-x-8">
    <div class="col-span-2 laptop:col-span-1">
        <div class="video-responsive"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/sGUnHKWTfgQ" title="Embedded youtube" width="853"></iframe></div>
        <p class="text-center body-font font-medium">How to Share Your Location</p>
    </div>
    <div class="col-span-2 laptop:col-span-1">
        <div class="video-responsive"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/jZcW8PBI6Ls" title="Embedded youtube" width="853"></iframe></div>
        <p class="text-center body-font font-medium">How to Use NOVALINK App</p>
    </div>
</div>