@{
    ViewData["Title"] = "Admin Home";
    Layout = "/Views/Shared/_AdminLteLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<p>Welcome to Dashboard'</p>

