@model UI_Layer.Areas.BackendSystem.Models.LoginViewModel
@{
    ViewData["Title"] = "Log In";
    Layout = "/Views/Shared/_BackendLoginLayout.cshtml";

}

<div class="heading mb-4">
    <h4>Login into your account</h4>
</div>
@using (Html.BeginForm("Login", "Account", new { area = "BackendSystem" }, FormMethod.Post, null,new { @class = "form-horizontal", role = "form", id = "quickForm", novalidate = "novalidate", enctype = "multipart/form-data", @style = "width:100%" }))
{

    <div class="form-input">
        <span><i class="fa fa-envelope"></i></span>
        @*<input type="email" placeholder="Email Address" required="">*@
        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email Address" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

  
    <div class="form-input">
        <span><i class="fa fa-lock"></i></span>
        @*<input type="password" placeholder="Password" required="">*@
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password"  })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row mb-3">
        <div class="col-6 d-flex">
            <a href="register.html" class="register-link">Register here</a>
        </div>
        <div class="col-6 text-right">
            <a href="forget.html" class="forget-link">Forget Password</a>
        </div>
    </div>
    <div class="text-center mb-12">
        <button type="submit" class="btn" style="width: 100%">Login</button>
    </div>

} 

<script>
    $(document).ready(function () {
        $("#quickForm").submit(function (event) {
            event.preventDefault();
      
            var formData = $("#quickForm").serialize();
            $.ajax({
                type: "POST",
                url: "/BackendSystem/Account/Login",
                data: formData,
                success: function (result) {
                    if (result.success) {
                        window.location.href = result.message;
                    } else {
                        PopupMessage(result.messageStatus, result.message);
                    }

                },
                error: function (error) {
                    // Handle the error response
                    // For example, display an error message
                    console.error("Registration failed: " + error.responseText);
                }
            });
        });
    });
</script>


