<div class="font-color-base-white">
    <p class="heading-font text-center font-bold font-color-theme">Trust from Customers</p>
    <p class="body-font text-center">Join Our 1000+ Happy Customers</p>
</div>
<div class="mx-5 laptop:mx-32">
    <div class="carousel-root">
        <div class="carousel carousel-slider" style="width: 100%">
            <ul class="control-dots">
                <li class="dot selected" aria-label="slide item 1" role="button" tabindex="0" value="0"></li>
                <li class="dot" aria-label="slide item 2" role="button" tabindex="0" value="1"></li>
            </ul>
            <button class="hidden tablet:block absolute top-[35%] left-0 z-50"><img alt="next" src="~/novalink/static/media/next.d7680153f163320aae3583bba9477847.svg" class="rotate-180"></button>
            <div class="slider-wrapper axis-horizontal">
                <ul class="slider animated" style="transform: translate3d(-100%, 0, 0); transition-duration: 350ms">
                    <li class="slide">
                        <div class="pb-8 laptop:px-20 laptop:pb-20 cursor-grab">
                            <div class="border border-[#f4f4f4] border-opacity-100 p-5 laptop:p-20 rounded-lg shadow-md space-y-10">
                                <p class="text-left body-font font-color-base-white">I was a little concerned when I first encountered the advertisement for Novalink Internet because it was a new brand. In reality, they arrived right away and installed it after confirming the installation. The connection was good and the line was quite stable when I checked the Internet. I discovered that the upload and download were both the same bandwidth. I recommend you select Novalink if you are looking for a good internet service.</p>
                                <div class="flex justify-between items-center">
                                    <p class="sub-heading-font font-color-theme">Poe Zar Phyu (Painting Artist)</p>
                                    <div class="flex laptop:space-x-2">
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide selected previous">
                        <div class="pb-8 laptop:px-20 laptop:pb-20 cursor-grab">
                            <div class="border border-[#f4f4f4] border-opacity-100 p-5 laptop:p-20 rounded-lg shadow-md space-y-10">
                                <p class="text-left body-font font-color-base-white">As a first-time NOVALINK internet user, I never thought I would enjoy it as much as I did. NOVALINK provides the fastest internet speed and the best customer service. They come and are installed within 48 hours. The staff are very helpful and polite. It is more convenient to be able to change the plan and pay the bill through the customer application by myself. The prices are also very reasonable compared to others. I would like to recommend using Novalink internet.</p>
                                <div class="flex justify-between items-center">
                                    <p class="sub-heading-font font-color-theme">Nan Shwe Yin (Sales Profession)</p>
                                    <div class="flex laptop:space-x-2">
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="pb-8 laptop:px-20 laptop:pb-20 cursor-grab">
                            <div class="border border-[#f4f4f4] border-opacity-100 p-5 laptop:p-20 rounded-lg shadow-md space-y-10">
                                <p class="text-left body-font font-color-base-white">I was a little concerned when I first encountered the advertisement for Novalink Internet because it was a new brand. In reality, they arrived right away and installed it after confirming the installation. The connection was good and the line was quite stable when I checked the Internet. I discovered that the upload and download were both the same bandwidth. I recommend you select Novalink if you are looking for a good internet service.</p>
                                <div class="flex justify-between items-center">
                                    <p class="sub-heading-font font-color-theme">Poe Zar Phyu (Painting Artist)</p>
                                    <div class="flex laptop:space-x-2">
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide selected previous">
                        <div class="pb-8 laptop:px-20 laptop:pb-20 cursor-grab">
                            <div class="border border-[#f4f4f4] border-opacity-100 p-5 laptop:p-20 rounded-lg shadow-md space-y-10">
                                <p class="text-left body-font font-color-base-white">As a first-time NOVALINK internet user, I never thought I would enjoy it as much as I did. NOVALINK provides the fastest internet speed and the best customer service. They come and are installed within 48 hours. The staff are very helpful and polite. It is more convenient to be able to change the plan and pay the bill through the customer application by myself. The prices are also very reasonable compared to others. I would like to recommend using Novalink internet.</p>
                                <div class="flex justify-between items-center">
                                    <p class="sub-heading-font font-color-theme">Nan Shwe Yin (Sales Profession)</p>
                                    <div class="flex laptop:space-x-2">
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                        <div><img alt="star" src="~/novalink/static/media/star.0ea84e72bd9414a3a049ff583c4451a1.svg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="hidden tablet:block absolute top-[35%] right-0"><img alt="next" src="~/novalink/static/media/next.d7680153f163320aae3583bba9477847.svg"></button>
        </div>
    </div>
</div>