@*<div class="space-y-0 laptop:space-y-2">
    <p class="heading-font font-color-base-black font-semibold laptop:font-semibold text-center">HOME INTERNET</p>
    <p class="body-font font-color-light-muted font-semibold text-center">Get connected. Stay entertained.</p>
</div>
<div class="block space-y-8 laptop:space-y-0 laptop:flex laptop:space-x-8">
    <div class="relative w-full h-full">
        <div class="img-hover-zoom"><img alt="BgImage" src="~/novalink/static/media/Home%20internet%20images_01.aaf4c3b6b57017d4c806.png" class="w-full h-full"></div>
        <div class="absolute top-4 inset-x-8 laptop:top-6">
            <div class="space-y-2">
                <p class="sub-heading-font laptop:sub-heading-font font-extrabold font-color-base-black text-center">FIBER TO HOME</p>
                <p class="body-font sub-heading-font font-semibold font-color-base-black text-center">Consistent speed. Straightforward price.</p>
                <p class="caption-font font-color-base-black text-center">Enjoy your internet with no annual contract and no equipment</p>
            </div>
        </div>
        <div class="absolute bottom-6 flex justify-center w-full h-auto">
            <div>
                <button class="text-[#e1ff3c] laptop:hover:text-black bg-transparent laptop:hover:bg-[#e1ff3c] px-14 py-2 border-2 border-[#e1ff3c] rounded-none laptop:hover:rounded-md duration-500 w-full h-auto">
                    <p class="body-font font-medium">Learn more</p>
                </button>
            </div>
        </div>
    </div>
    <div class="relative w-full h-full">
        <div class="img-hover-zoom"><img alt="BgImage" src="~/novalink/static/media/Home%20internet%20images_02.e6ea774392ba731dafeb.png" class="w-full h-full"></div>
        <div class="absolute top-4 inset-x-8 laptop:top-6">
            <div class="space-y-2">
                <p class="sub-heading-font laptop:sub-heading-font font-extrabold font-color-base-black text-center">ENTERTAINMENT</p>
                <p class="body-font sub-heading-font font-semibold font-color-base-black text-center">Get your Entertainment together.</p>
                <p class="caption-font font-color-base-black text-center">Bringing together your favorite movies, shows and live sports - Live & On Demand. All with no annual contact required.</p>
            </div>
        </div>
        <div class="absolute bottom-6 flex justify-center w-full h-auto">
            <div>
                <button class="text-[#e1ff3c] laptop:hover:text-black bg-transparent laptop:hover:bg-[#e1ff3c] px-14 py-2 border-2 border-[#e1ff3c] rounded-none laptop:hover:rounded-md duration-500 w-full h-auto">
                    <p class="body-font font-medium">Learn more</p>
                </button>
            </div>
        </div>
    </div>
</div>*@
